@model DefectLog.Web.Forms.ChangePasswordForm

@{
    ViewBag.Title = "ChangePassword";
    Layout = "_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Change your password if you want.</legend>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPassword)
                    @Html.EditorFor(model => model.CurrentPassword)
                    @Html.ValidationMessageFor(model => model.CurrentPassword)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword)
                    @Html.EditorFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmNewPassword)
                    @Html.EditorFor(model => model.ConfirmNewPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                </div>
            </div>
        </div>

        <hr />

        <p>
            <input type="submit" value="Change Password" class="btn btn-default" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
