@model DefectLog.Web.Forms.ForgotPasswordForm

@{
    ViewBag.Title = "ForgotPassword";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Let's reset your password.</legend>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName)
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>
        </div>

        <hr />

        <div>
            <button type="submit" class="btn btn-primary">
                Send me an email
                <i class="icon-envelope icon-white"></i>
            </button>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
