@model DefectLog.Web.Forms.UserProfileForm

@{
    ViewBag.Title = "UserProfile";
    Layout = "_Layout.cshtml";
}


<fieldset id="profile-display-wrapper">
    <legend>User Profile</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <hr />

    <button class="btn btn-default" id="btnEdit">Edit Profile</button>
</fieldset>

<div id="profile-form-wrapper" class="hidden">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Edit Profile</legend>

            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName)
                        @Html.EditorFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName)
                        @Html.EditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress)
                        @Html.EditorFor(model => model.EmailAddress)
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </div>
                </div>
            </div>


            <br />

            <p>
                <input type="submit" value="Update Profile" class="btn btn-default" />
                @Html.ActionLink("Cancel", "UserProfile", null, new { @class = "btn btn-default" })
            </p>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        (function () {
            $('#btnEdit').on('click', toggleForm);

            function toggleForm() {
                $('#profile-form-wrapper, #profile-display-wrapper').toggle();
            }
        }());
    </script>
}
