@model DefectLog.Web.Areas.Admin.Forms.AdminUserForm

@{
    ViewBag.Title = "Edit User";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit User</legend>

        <div class="row">
            <div class="col-sm-5">

                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleId)
                    @Html.DropDownListFor(model => model.RoleId, Model.RoleList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsApproved)
                    @Html.DropDownListFor(model => model.IsApproved, Model.IsApprovedList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName)
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName)
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailAddress)
                    @Html.EditorFor(model => model.EmailAddress)
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                </div>
            </div>
        </div>

        <hr />

        <p>
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
