<!DOCTYPE html>
<html lang="en" ng-app="defectLog" id="ng-app" class="ng-app:defectLog">
<head>
    <meta charset="utf-8">
    <title>Defect Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    @Styles.Render("~/content/css/css")

    <!-- Le modernizr -->
    @Scripts.Render("~/bundles/modernizr")

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="~/favicon.ico">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Defect Log", "Index", new { controller = "home", area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.NavItem("Home", "Index", "Home", new { area = "" }, null)</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.NavItem("Admin", "Index", "Default", new { area = "Admin" }, null)</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.NavItem("My Account", "Index", "Account", new { area = "" }, null)</li>
                    }
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="navbar-text pull-right nav-collapse collapse">
                    Signed in as @User.Identity.Name | 
                    @Html.ActionLink("Log out", "Logout", new { controller = "Account", area = "" })
                </p>
            }
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    <!-- /container -->

    <!-- Le scripts -->
    @Scripts.Render("~/bundles/scripts")

    <script>
        (function () {
            common.baseUrl = '@Url.Content("~")';
            }());
    </script>

    @RenderSection("scripts", false)
</body>
</html>
